/Week3-IntroToMD/Data/md_10ns_output/
/Week4-CharmmGuiSetup/1_1V1D_AMBER_INPUT/
/Week4-CharmmGuiSetup/2_IONSINWATER_INPUT/
/Week6-Metadynamics/Lugano_Exe2/Step2_Con_Output/
/Week6-Metadynamics/Lugano_2D_Metadynamics/Bonus_Output/
/Week8-LAMMPS-crystallization/0_Setup_Melt/Figures/ppm_files/
/Week8-LAMMPS-crystallization/2_3D_Images/0.9_mmp/
/Week8-LAMMPS-crystallization/2_3D_Images/1.0_mmp/